doctype html
html(lang='en')
  head
    title DrinkRater
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/navbar.pug
    block content
  footer
    p A MrZ Project

