extends layout

block content 
    h1 Sign Up
    // register form
    form(method='POST' action='/register')
        div.form-group
            label(for='firstName') First Name:
            input(type='text', placeholder='Arnold' name='name')
        div.form-group
            label(for='lastName') Last Name:
            input(type='text', placeholder='Palmer' name='name')
        div.form-group
            label(for='email') Email:
            input(type='email', placeholder='name@email.com' name='email')
        div.form-group
            label(for='pw') Password:
            input(type='password' name='password')
        div.form-group
            label(for='pw2') Confirm Password:
            input(type='password' name='confirmPassword')
        button(type='submit') Sign up